---
import './PokemonCard.css';

const { pokemon, index } = Astro.props;
const mainType = pokemon.types[0].type.name;
---

<div class="card" data-type={mainType} data-pokemon={JSON.stringify(pokemon)} data-delay={index * 30}>
  <img src={pokemon.sprites.front_default} alt={pokemon.name} />
  <div class="card-info">
    <span class="card-number">#{String(pokemon.id).padStart(3, '0')}</span>
    <h2>{pokemon.name}</h2>
    <div class="types">
      {pokemon.types.map(t => (
        <span class={`type type-${t.type.name}`}>{t.type.name}</span>
      ))}
    </div>
  </div>
</div>
